*{
    font-size: large;
}

.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.68),rgba(0,0,0,0.68));
    color: #fff;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 100px 100px ;
    padding-top: 50px;
    font-size: 20px;
}
h1{
    font-size: 30px;

}
button{
    color: blue;
}
.list,li {
    padding: 10px;
}