{% extends "base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/career.css' %}">
{% endblock link %}
{% block content %}

<div class="banner">

    <div class="asd">
        <h1>ABOUT US</h1>
        <hr>
        <p>
            This web site is made as project work by the farook college 3rd year students. This is developed in
            django.
        </p>
        <h3>
            Developer details
        </h3>
        <div class="qwe">
            Anjana<br>
            +91 9123456789<br>
            anjana@gmail.com<br><br>
            Athfan<br>
            +91 9123456789<br>
            athfan@gmail.com<br><br>
            Hisham shafi<br>
            +91 9123456789<br>
            hisham@gmail.com<br><br>
            Razeeka mumtaz<br>
            +91 9123456789<br>
            razeeka@gmail.com<br><br>
            Thasnim<br>
            +91 9123456789<br>
            thasnim@gmail.com
        </div>
    </div>
</div>
{% endblock content %}