{% extends "base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/career.css' %}">
{% endblock link %}
{% block content %}

<div class="banner">

    <div class="asd">
        <div>
            <h1>JOB INTERVIEW TIPS</h1>
            <p>After you've built your resume, written a great cover letter and scheduled the interview, it's time to meet
            the interviewer and get the position you've applied for. This guide can help you prepare for your important
            interview day.
        </p>
        </div>
        <div>
            <h3>JUMP TO SECTION</h3>
            <ul>
                <li>Know your target</li>
                <li>Know yourself</li>
                <li>Practice</li>
                <li>Dress the part</li>
                <li>Arrive early</li>
                <li>Make a good first impression</li>
                <li>Answer honestly and well</li>
                <li>Be yourself</li>
                <li>Ask questions</li>
                <li>Follow up</li>
            </ul>
        </div>
    </div>
    <a href="https://myfuture.com/career/applying/job-interview-tips"><h5>For more information...</h5></a>
</div>
{% endblock content %}