{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock link %}

{% block content %}
<div class="banner">
{% include 'nav.html' %}
   <div class="content">
       <p style="align-items:center;">
           We make it easy to find and hire the teachers you need.
       </p>   
       <button><a href="{% url 'jobseeker:resume-list' %}" style="text-decoration:none; color:#fff; font-size:14px;"> <span></span> LATEST RESUME UPDATES<a></button>   
    </div>
</div>
{% endblock content %}