{% extends "base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock link %}
{% block content %}

<div class="navbar">
    <img src="{% static "images/logo2.png" %}" alt="logo" class="logo" />
    <ul>
        <li><a href="{% url 'accounts:homepage' %}">Home</a></li>
        {% if user.is_authenticated %}
        {% if user.type == 'Jobseeker' %}
        <div class="dropdown">
            <li><a href="#">Jobseeker</a>
                  <div class="dropdown-content">
                     <a href="{% url 'jobseeker:profile-create' %}">Create Profile</a>
                     <a href="{% url 'jobseeker:blog-post-list' %}">Blog Section</a>
                     <a href="{% url 'jobseeker:career' %}">Career tips</a>
                     <a href="{% url 'jobseeker:resume-create' %}">Resume builder</a>
                     <a href="{% url 'jobseeker:search' %}">Search Jobs</a>
                 </div>
             </li>
        </div>
        {% else %}
        <div class="dropdown">
            <li><a href="#">For Employer</a>
                 <div class="dropdown-content">
                    <a href="{% url 'employer:profile-create' %}">Create Profile</a>
                    <a href="{% url 'employer:build-job-post' %}">Post Job</a>
                    <a href="#">Search Profile</a>
                </div>
            </li>
        </div>  
        {% endif %} 
        <li><a href="{% url 'accounts:logout' %}">logout</a></li> 
        {% else %}
        <li><a href="{% url 'accounts:register' %}">Register</a></li>
        <li><a href="{% url 'accounts:login' %}">Sign In</a></li>
        {% endif %}
        <li><a href="{% url 'jobseeker:about' %}">About us</a></li>
    </ul>

</div>        
{% endblock content %}

